<!DOCTYPE html>
<head>
    <meta charset="utf8">
    <meta name="Different forms">
    <title>Forms</title>
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/inputForm.css/body.css">
    <link rel="stylesheet" href="../styles/inputForm.css/header.css">
    <link rel="stylesheet" href="../styles/inputForm.css/main.css">
    <link rel="stylesheet" href="../styles/inputForm.css/footer.css">
<body>
<header class="header">
    <div class="head-content">Head</div>
</header>
<main class="main">
    <section class="main-section">Profile</section>
    <hr>
    <form>
        <label for="1">First Name</label>
        <input id="1" name="fname" autofocus placeholder="First name">

        <label for="2">Last Name</label>
        <input id="2" name="lname" placeholder="Last name">

        <label for="3">E-mail</label>
        <input id="3" name="email" placeholder="example@gmail.com">

        <label for="4">Phone</label>
        <input id="4" name="phone" placeholder="+_(___)___-__-__">

        <label for="5">Date of Birth</label>
        <input id="5" name="dateOfBirth" placeholder="DD/MM/YYYY">

        <label>Sex</label>
        <input type="radio" name="gender" value="male" class="main-section__ratio" checked> Male
    </br>
        <input type="radio" name="gender" value="female" class="main-section__ratio"> Female
        
        <input type="submit" name="submit" class="main-section__submit" value="submit">
    </form>
      
</main>
<footer class="footer">
    <div class="footer-content">Footer</div>
</footer>
</body >